/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Hammersmith+One);/*font-family: 'Hammersmith One', sans-serif;*/

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700);/*font-family: 'Playfair Display', serif;*/

@import url(https://fonts.googleapis.com/css?family=Roboto:700,300,900,500);/*font-family: 'Roboto', sans-serif;*/


a{
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
body {
  position: relative;
}
.menu-area {
    margin-top: 32px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.mainmenu li a {
    color: #fff !important;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.mainmenu li:hover a{
    color: #00e0d0 !important;
    text-decoration: none;
}
.mainmenu li a:hover,
.mainmenu li a:focus{
    background: none;
    outline: none;
}
.mainmenu .active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
.mainmenu > .active > a{
    color: #00e0d0 !important;
}
.navbar-default{
    background: none;
    border: none;
}


html, body, header, .slider-area, .slider-area div {
    height: 100%;
}
.slider-area .slider .slide-table div{
    height: auto;
}
.slide-table {
    display: table;
    width: 100%;
}
.slide-tablecell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

header {
  min-height: 450px;
}

.slide-single-item{
    background-image: url('img/slider-bg-1.jpg');
    position: relative;
    color: #fff;
}
.slide-single-item::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    background: rgb(9,5,47);
    background: -moz-linear-gradient(top,  rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background: -webkit-linear-gradient(top,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    background: linear-gradient(to bottom,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09052f', endColorstr='#311d5e',GradientType=0 );
    opacity: .85;
    width: 100%;
    height: 100%;
}

.slide-contetns h2 {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 900;
  position: relative;
  padding: 15px 0;
}
.slide-contetns h2::after {
  background-color: #00e0d0;
  content: "";
  display: block;
  height: 1px;
  left: 45%;
  position: absolute;
  top: 100%;
  width: 100px;
}
.slide-contetns p {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  padding: 10px 0 25px;
}
.more-link:hover{
    color: #00e0d0;
}
.carousel-indicators li.active {
  background-color: #00E0D0;
  border: none;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}









section#our-story-area {
  padding: 80px 0;
}
.our-story-contents > h2 {
  color: #413d4b;
  font-family: "playfair display";
  font-size: 22px;
  font-weight: 700;
  padding: 0 0 10px;
  text-transform: uppercase;
}
.our-story-contents p {
  color: #413d4b;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 300;
}
.our-stry-learn-btn {
  border: 1px solid;
  font-size: 16px;
  color: #00e0d0;
  padding: 10px;
  font-family: 'Hammersmith One', sans-serif;
}
.story-link-warp {
  display: block;
  margin-top: 40px;
}
.our-stry-learn-btn:hover{
    text-decoration: none;
    color: #00e0d0;
    border: 1px solid;
}


#video-area{
    background: url(img/video-bg.jpg) no-repeat;
    padding: 150px 0;
    position: relative;
    background-position: center center;
    color: #fff;
    z-index: -2;
    overflow: hidden;
}

#video-area::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    background: rgb(9,5,47);
    background: -moz-linear-gradient(top,  rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background: -webkit-linear-gradient(top,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    background: linear-gradient(to bottom,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09052f', endColorstr='#311d5e',GradientType=0 );
    opacity: .85;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.video-play-icon  {
  border: 2px solid #fff;
  display: inline-block;
border-radius: 100%;
}
.video-play-icon i{
    font-size: 50px;
    padding: 50px 55px;
    color: #fff;
}
.video-play-icon i:hover{
    color: #00e0d0;
}
.video-play-icon:hover{
    border-color: #00e0d0;
}

.video-text  p {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 900;
  margin-top: 33px;
}



/****************************************************/
.ytplayer-container {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
#video-area::before {
  z-index: 1;
}

.video-texts {
    position: relative;
    z-index: 2;
}

/****************************************************/




section#expertise {
  padding: 80px 0;
}


.section-header h1 {
  color: #413d4b;
  font-family: "playfair display";
  font-size: 22px;
}
.section-header p {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.section-header p::after {
  background: #c6c4c9 none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  top: 30px;
  width: 50px;
}
.section-header {
  margin-bottom: 80px;
}

.expert-icon i {
  color: #2cbccd;
  font-size: 40px;
}

.expert-single h3 {
  color: #413d4b;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 900;
  margin: 20px 0;
}

.expert-single {
  margin-bottom: 40px;
}

.expert-single p {
  color: #333333;
  font-family: "roboto";
  font-weight: 300;
}

.expert-devide{
    position: relative;
    background-color: #ebebeb;
    display: block;
    height: 1px;
    width: 100%;
}

.team-member-single h3 {
  color: #fff;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}


#team-area{
    background: url('img/member-bg.jpg') no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;
    background-position: center center;
    z-index: 1;
}

#team-area::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    background: rgb(9,5,47);
    background: -moz-linear-gradient(top,  rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background: -webkit-linear-gradient(top,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    background: linear-gradient(to bottom,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09052f', endColorstr='#311d5e',GradientType=0 );
    opacity: .75;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.team-member-single span {
  color: #fff;
  font-family: "roboto";
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}

#team-area .section-header h1 {
    color: #fff;
}
#team-area .section-header p {
    color: #fff;
}
#team-area .section-header p::after {
    background: #655b80 none repeat scroll 0 0;
}
.team-member-info{
    border: 1px solid #76758a;
    padding: 10px 0;
}
.member-img{
    width: 100%;
}
.team-member-single {
  margin-bottom: 50px;
}

.team-bottom {
    clear: both;
    color: #fff;
    padding-top: 20px;
}
.team-bottom p {
    font-family: "Roboto";
    font-weight: 300;
}
.more-link {
  border: 1px solid;
  color: #00e0d0;
  display: inline-block;
  font-family: "hammersmith one";
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

section#works-area {
  padding: 80px 0;
}

.works-head h1 {
  color: #413d4b;
  font-family: "playfair display";
  font-size: 22px;
  font-weight: 900;
  margin: 0;
}
.works-see-all-link a {
  color: #413d4b;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 300;
}

.works-see-all-link a:hover{
    color: #0AE0D0;
}


.works-single {
    display: block;
    float: left;
    width: 16.6667%;
}
.works-all {
    overflow: hidden;
    padding: 50px 0;
}
button.owl-thumb-item img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}


#testumonials-area{
    background-image: url(img/testimonals-bg.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
    padding: 80px 0;
    z-index: 1;
}
#testumonials-area::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    background: rgb(9,5,47);
    background: -moz-linear-gradient(top,  rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background: -webkit-linear-gradient(top,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    background: linear-gradient(to bottom,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09052f', endColorstr='#311d5e',GradientType=0 );
    opacity: .75;
    width: 100%;
    height: 100%;
    z-index: -1;

}
.testimonials-all{
    position: relative;
    margin-top: 50px;
}
.testimonials-all::after{
    position: absolute;
    content: "";
    background: url(img/quote.png);
    height: 26px;
    width: 32px;
    top: 0;
    left: 50%;
    margin-left: -13px;
    margin-bottom: 30px;
}
.testimonial-single > p {
  font-family: "playfair display";
  font-size: 16px;
  padding: 50px;
  margin-top: 30px;
}

.author-info .author-name {
  font-family: "roboto";
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 15px;
}
.author-info .author-position {
  font-family: "roboto";
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 15px;
}

.owl-thumbs{
    margin-top: 30px;
}

button.owl-thumb-item {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;

}

.owl-thumb-item.active img {
  height: 65px;
  width: 65px;
}


#contact-area{
    padding: 80px 0;
}

.contact-form h2,
.company-area h2 {
  color: #413d4b;
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 30px;
  text-transform: uppercase;
}


form p input,
form p textarea {
  border: 1px solid #e5e5e5;
  color: #413d4b;
  display: block;
  font-family: "roboto";
  font-size: 15px;
  font-weight: 300;
  padding: 7px;
  width: 100%;
}

form p input:focus,
form p textarea:focus {
    color: #413d4b;
}

input[type="submit"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid;
  color: #00e0d0;
  font-family: "hammersmith one";
  font-size: 16px;
  text-transform: uppercase;
  width: 120px;
}
.company-single{
    margin-bottom: 30px;
}

.company-single img{
    max-width: 100%;
}






footer{
    background-image: url(img/footer_bg.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    position: relative;
    padding: 80px 0;
    z-index: 1;
}
footer::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    background: rgb(9,5,47);
    background: -moz-linear-gradient(top,  rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background: -webkit-linear-gradient(top,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    background: linear-gradient(to bottom,  rgb(9,5,47) 0%,rgb(49,29,94) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09052f', endColorstr='#311d5e',GradientType=0 );
    opacity: .75;
    width: 100%;
    height: 100%;
    z-index: -1;

}

nav.footer_nav ul li {
  display: inline-block;
  float: left;
  margin-right: 30px;
}
.footer_nav li a {
  color: #fff;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 500;
}
.footer_text_widg p {
  font-family: "roboto";
  font-weight: 300;
  line-height: 1.8;
  margin: 30px 0 50px;
}

nav.footer_nav ul{
    padding-left: 0;
}


.our_studio h3,
.stay-in-touch h3 {
  font-family: "roboto";
  font-size: 15px;
  font-weight: 900;
}

.std_address address {
  font-family: "roboto";
  font-weight: 300;
  margin-left: 25px;
  margin-top: 45px;
  position: relative;
}
.std_address address::before {
  content: "\f041";
  font-family: "FontAwesome";
  font-size: 26px;
  left: -25px;
  position: absolute;
  top: 0;
}

.std_teliphone p {
  font-family: "roboto";
  font-weight: 300;
  margin-left: 25px;
  position: relative;
}

.std_teliphone p::before{
    left: -25px;
    top: 0;
    position: absolute;
    font-size: 26px;
    content: "\f095";
    font-family: "FontAwesome";
}

.subscribe-area {
  margin-top: 45px;
}

.subscribe-area > input[type="email"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #9e97af;
  color: #fff;
  font-size: 17px;
  padding: 5px 10px;
}

.subscribe-area button {
  background: #9d95af none repeat scroll 0 0;
  border: medium none;
  margin-left: 10px;
  opacity: 0.7;
  padding: 9px 15px;
}

.social_icons ul {
  padding-left: 0;
  margin-top: 30px;
}
.social_icons li {
  display: inline;
  margin-right: 5px;
}
.social_icons a {
  border: 1px solid #fff;
  display: inline-block;
  height: 50px;
  text-align: center;
  width: 50px;
  border-radius: 50%;
}

.social_icons li a i {
  color: #fff;
  font-size: 20px;
  margin-top: 14px;
}
.footer-copyright p {
  font-family: "roboto";
  font-weight: 900;
  margin-top: 30px;
}
.sticky-wrapper {
  height: 0 !important;
}

.sticky-wrapper.is-sticky .sticker {
  background: #2f2b4f none repeat scroll 0 0;
  height: 80px;
  margin-top: 0;
  opacity: 0.96;
  padding-top: 20px;
  z-index: 999
}
.is-sticky .logo img {
  margin-top: -15px;
  transition: .4s
}
.navbar{
    box-shadow: none;
}
.mainmenu-waraper.navbar-collapse.collapse.in {
  background: #2f2b4f none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
}
.navbar-collapse {
    border: none;
    box-shadow: none;
}
.logo {
  margin-top: -7px;
  overflow: hidden;
  padding: 0;
}
.logo > img {
  margin-top: 0px;
  text-align: center;
}
.is-sticky .logo img {
  margin-top: 0;
}
